@import url('https://fonts.googleapis.com/css2?family=IM+Fell+French+Canon&family=Lato:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    display: grid;
    grid-template-columns: 150px auto;
    background-color: #2E282A;
}
.logo {
    width: 80px;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    text-align: center;
    font-family: 'Lato', Verdana, Tahoma, sans-serif;
    color: white;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #2E282A;
    color: #17BEBB;
}
#hero {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
    color: white
}
#hero-msg h1 {
    font-family: 'Pacifico', 'Brush Script MT', Verdana, Tahoma, sans-serif;
    font-size: 1.4em;
}
#hero-msg {
    font-family: 'Lato', Verdana, Tahoma, sans-serif;
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 100px;
}
#hero-img {
    width: 100%
}
.button-box {
    text-align: center;
    font-family: 'Lato', Verdana, Tahoma, sans-serif;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
    background-color: #2E282A;
}
body {
    background-color: #2E282A;
    font-family: 'Lato', Verdana, Tahoma, sans-serif;
    font-size: 22px;
    margin: 0; 
    padding: 0;
}
h2 {
    margin: 0;
}
.book, .join {
    background-color: #2E282A;
    color: white;
    font-family: 'Lato', Verdana, Tahoma, sans-serif;
    font-size: 18px;
    text-decoration: none;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px; 
}
.book:hover, .join:hover {
    background-color: #2E282A;
    color: #17BEBB;
}
.home-title {
    color: white;
    font-family: 'Pacifico', 'Brush Script MT', Verdana, Tahoma, sans-serif;
    font-size: 2em;
    margin-top: 10px;
}
.home-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.card-img {
    border: 10px solid #EDB88B;
    transition: transform .5s;
    box-shadow: 5px 5px 10px black;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1); 
}
.card-img, .mountains {
    width: 100%
}
main section img{
    box-sizing: border-box;
}
.rivers-card, .camping-card, .rapids-card {
    color: white;
    font-family: 'Pacifico', 'Brush Script MT', Verdana, Tahoma, sans-serif;
    margin: 200px 0;
}
.rivers-card {
    grid-column: 2/4;
    grid-row: 2/3;
}
.camping-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.rapids-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
#background {
    grid-column: 1/11;
    grid-row: 4/9;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
.msg {
    background-color: #2E282A;
    line-height: 1.5em;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px black; 
}
.msg h2 {
    color: white;
    font-family: 'Pacifico', 'Brush Script MT', Verdana, Tahoma, sans-serif;
    font-size: 1.4em;
}
.msg p {
    color: white;
    font-family: 'Lato', Verdana, Tahoma, sans-serif;
    font-size: .8em;
    padding-bottom: 15px;
}
.mountains {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px black;
}
footer {
    background-color: #2E282A;
    color: white;
    font-family: 'Lato', Verdana, Tahoma, sans-serif;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: #17BEBB;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline; 
}
footer .social img {
    padding-top: 15px;
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    #hero-msg h1 {
        color: #6f7364;
    }
    .home-title {
        font-size: 25px;
    }
    .rivers-card, .camping-card, .rapids-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .mountains, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}