/* Coolors color pallette link: https://coolors.co/db995a-654236-d6d4a0-da7635-e24e1b */

body, html {
    height: 100%;
}

.parallax {
    /* The image used */
    background-image: url("images/fancy-waffles.jpg");

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.text {
    height:750px;
    color: #654236;
    background-color: #DB995A;
    font-size:36px
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-device-width: 1366px) {
  .parallax {
    background-attachment: scroll;
  }
}

