body {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.75fr 1fr 0.25fr;
    margin: 0 auto;
}
#content {
    border-radius: 15px;
}
#space_a {
    background-color: black;
}
header {
    grid-column: 2/3;
    grid-row: 1/2;
}
img {
    width: 100%;
}
main {
    background-color: white;
    justify-self: center;
    align-self: center;
    grid-column: 2/3;
    grid-row: 2/3;
    margin: 0 auto;
}
main div {
    padding: 10px;
}
main h1 {
    color: black;
}
main p {
    color: darkgrey;
}
#posted {
    color: darkslateblue;
    font-size: 0.9em;
    margin-bottom: 1px;
}
footer {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    grid-column: 2/3;
    grid-row: 3/4;  
}
footer div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0 auto;
}
#read {
    background-color: darkslateblue;
    border: 2px solid darkgrey;
    grid-column: 1/2;
}
#views {
    background-color: darkslateblue;
    border: 2px solid darkgrey;
    grid-column: 2/3;
}
#comments {
    background-color: darkslateblue;
    border: 2px solid darkgrey;
    grid-column: 3/4;
}
#space_b {
    background-color: black;
    grid-column: 3/4;
}