@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Pacifico&display=swap');

img {
    width: 50%;
}
header {
    height: 100px;
    background-color: #4A006F;
    display: grid;
    grid-template-columns: 150px auto;
}
header p {
    font-size: 1.2em;
}
.logo {
    width: 90px;
    grid-column: 1/2;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    color: #E4AAFF;
    text-align: center;
    font-family: 'Lato', Verdana, Tahoma, sans-serif;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #A9DEF9;
    color: #103F6E;
}
#home-hero {
    width: 100%;
    color: #103F6E;
    background-color: #A9DEF9;
    text-align: center;
    display: grid;
    grid-template-rows: 0.75fr auto 0.5fr 0.5fr;
    margin-top: -9px;
}
#home-hero h1 {
    font-family: "Momo Signature", 'Times New Roman', Times, serif;
    grid-row: 2/3;
    font-size: 3.0em;
}
#home-hero h4 {
    font-family: 'Lato', Verdana, Tahoma, sans-serif;
    grid-row: 3/4;
    margin-top: -10px;
    font-size: 1.2em;
}
.art {
    color: #4A006F;
    background-color: #E4AAFF;
    display: grid;
    grid-template-columns: 1fr 4.5fr 1.5fr 4fr 1fr;
    grid-template-rows: 30px 1fr auto 1fr 30px;
}
.art p {
    font-size: 1.2em;
    line-height: 1.2;
    font-family: 'Lato', Verdana, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    padding: 10px;
    grid-column: 2/3;
    grid-row: 3/4;
}
.art img {
    width: 100%;
    grid-column: 4/5;
    grid-row: 2/5;
    padding: 10px;
}
.music {
    color: #103F6E;
    background-color: #A9DEF9;
    display: grid;
    grid-template-columns: 1fr 4fr 1.5fr 4.5fr 1fr;
    grid-template-rows: 30px 1fr auto 1fr 30px;
}
.music img {
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/5;
    padding: 10px;
}
.music p {
    font-size: 1.2em;
    line-height: 1.2;
    font-family: 'Lato', Verdana, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    grid-column: 4/5;
    grid-row: 3/4;
    padding: 10px;
}
.crochet {
    color: #4A006F;
    background-color: #E4AAFF;
    display: grid;
    grid-template-columns: 1fr 4.5fr 1.5fr 4fr 1fr;
    grid-template-rows: 30px 1fr auto 1fr 30px;
    margin-bottom: 0px;
}
.crochet p {
    font-size: 1.2em;
    line-height: 1.2;
    font-family: 'Lato', Verdana, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 10px;
}
.crochet img {
    width: 100%;
    grid-column: 4/5;
    grid-row: 2/5;
    padding: 10px;
}
footer {
    background-color: #4A006F;
    color: #E4AAFF;
    font-family: 'Lato', Verdana, Tahoma, sans-serif;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
footer a {
    color: #E4AAFF;
    text-decoration: none;
}
footer a:hover {
    color: #103F6E;
    background-color: #A9DEF9;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline; 
}
footer .social img {
    padding-top: 15px;
    width: 50px;
}

#action-hero {
    width: 100%;
    color: #103F6E;
    background-color: #A9DEF9;
    text-align: center;
    display: grid;
    grid-template-rows: 0.75fr auto 0.5fr 0.5fr;
    margin-top: -9px;
}
#action-hero h1 {
    font-family: "Momo Signature", 'Times New Roman', Times, serif;
    grid-row: 2/3;
    font-size: 3.0em;
}
#action-hero h4 {
    font-family: 'Lato', Verdana, Tahoma, sans-serif;
    grid-row: 3/4;
    margin-top: -10px;
    font-size: 1.2em;
}
.action-content {
    width: 100%;
    font-family: 'Lato', Verdana, Tahoma, sans-serif;
    font-size: 1.4em;
    color: #4A006F;
    background-color: #E4AAFF;
    text-align: center;
    justify-content: center;
    display: grid;
    /*grid-template-columns: 1fr 0.5fr 4fr 1.5fr 4fr 0.5fr 1f; */
    /*grid-template-rows: 30px 1fr 0.75fr auto 0.75fr 2fr 0.75fr auto 0.75fr 2fr 30px; */
    margin: 0 auto;
}
#hook {
    /*grid-column: 3/5; */
    /*grid-row: 2/3; */
    text-align: center;
    margin: 100px 20px 100px 20px;
}
.math {
    text-align: center;
    justify-content: center;
    width: 100%;
    /*grid-row: 4/5; */
    display: grid;
    grid-template-columns: 1fr 4.5fr 1.5fr 4fr 1fr;
    grid-template-rows: 30px 0.5fr auto 0.5fr 30px;
    margin: 0 auto;
}
.math img {
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/5;
    padding: 10px;
}
.math p {
    grid-column: 4/5;
    grid-row: 3/4;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.critically {
    text-align: center;
    justify-content: center;
    width: 100%;
    /*grid-row: 6/7; */
    display: grid;
    grid-template-columns: 2fr 6fr 2f;
    /*margin-top: 100px;
    margin-bottom: 100px;*/
}
.critically p {
    grid-column: 2/3;
    padding: 10px;
    margin: 100px 40px 100px 40px;
}
.potential {
    text-align: center;
    justify-content: center;
    width: 100%;
    /*grid-row: 8/9; */
    display: grid;
    grid-template-columns: 1fr 4fr 1.5fr 4.5fr 1fr;
    grid-template-rows: 30px 0.5fr auto 0.5fr 30px;
    margin: 0 auto;
}
.potential p {
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
.potential img {
    width: 100%;
    grid-column: 4/5;
    grid-row: 2/5;
    padding: 10px;
}
.interest {
    text-align: center;
    justify-content: center;
    width: 100%; 
    /*grid-row: 10/11; */
    display: grid;
    grid-template-columns: 2.5fr 6fr 2.5f;
    margin: 100px 20px 100px 20px;
}
.interest p {
    grid-column: 2/3;
    padding: 10px;
}

#freedom-hero {
    width: 100%;
    color: #103F6E;
    background-color: #A9DEF9;
    text-align: center;
    display: grid;
    grid-template-rows: 0.75fr auto 0.5fr 0.5fr;
    margin-top: -9px;
}
#freedom-hero h1 {
    font-family: "Momo Signature", 'Times New Roman', Times, serif;
    grid-row: 2/3;
    font-size: 3.0em;
}
#freedom-hero h4 {
    font-family: 'Lato', Verdana, Tahoma, sans-serif;
    grid-row: 3/4;
    margin-top: -10px;
    font-size: 1.2em;
}