@import url('https://fonts.googleapis.com/css?family=IM+Fell+French+Canon+SC|Lato');
@import url('https://fonts.googleapis.com/css2?family=Momo+Signature&family=Pacifico&display=swap');

img {
    width: 50%;
}
header {
    height: 100px;
    background-color: #4A006F;
    display: grid;
    grid-template-columns: 150px auto;
}
header p {
    font-size: 1.2em;
}
.logo {
    width: 90px;
    grid-column: 1/2;
}
#logo_link {
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
nav {
    display: flex;
    justify-content: space-around;
}
nav a{
    color: #E4AAFF;
    text-align: center;
    font-family: 'Lato', Verdana, Tahoma, sans-serif;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #A9DEF9;
    color: #103F6E;
}
#home-hero {
    width: 100%;
    color: #103F6E;
    background-color: #A9DEF9;
    text-align: center;
    display: grid;
    grid-template-rows: 0.75fr auto 0.5fr 0.5fr;
    margin-top: -9px;
}
#home-hero h1 {
    font-family: "Momo Signature", 'Times New Roman', Times, serif;
    grid-row: 2/3;
    font-size: 3.0em;
}
#home-hero h4 {
    grid-row: 3/4;
    margin-top: -10px;
    font-size: 1.2em;
}
.art {
    color: #4A006F;
    background-color: #E4AAFF;
    display: grid;
    grid-template-columns: 1fr 4.5fr 1.5fr 4fr 1fr;
    grid-template-rows: 30px 1fr auto 1fr 30px;
}
.art p {
    font-size: 1.2em;
    line-height: 1.2;
    font-family: 'Lato', Verdana, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    padding: 10px;
    grid-column: 2/3;
    grid-row: 3/4;
}
.art img {
    width: 100%;
    grid-column: 4/5;
    grid-row: 2/5;
    padding: 10px;
}
.music {
    color: #103F6E;
    background-color: #A9DEF9;
    display: grid;
    grid-template-columns: 1fr 4fr 1.5fr 4.5fr 1fr;
    grid-template-rows: 30px 1fr auto 1fr 30px;
}
.music img {
    width: 100%;
    grid-column: 2/3;
    grid-row: 2/5;
    padding: 10px;
}
.music p {
    font-size: 1.2em;
    line-height: 1.2;
    font-family: 'Lato', Verdana, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    grid-column: 4/5;
    grid-row: 3/4;
    padding: 10px;
}
.crochet {
    color: #4A006F;
    background-color: #E4AAFF;
    display: grid;
    grid-template-columns: 1fr 4.5fr 1.5fr 4fr 1fr;
    grid-template-rows: 30px 1fr auto 1fr 30px;
    margin-bottom: 0px;
}
.crochet p {
    font-size: 1.2em;
    line-height: 1.2;
    font-family: 'Lato', Verdana, Tahoma, sans-serif;
    text-align: center;
    justify-content: center;
    grid-column: 2/3;
    grid-row: 3/4;
    padding: 10px;
}
.crochet img {
    width: 100%;
    grid-column: 4/5;
    grid-row: 2/5;
    padding: 10px;
}
footer {
    background-color: #4A006F;
    color: #E4AAFF;
    font-family: 'Lato', Verdana, Tahoma, sans-serif;
    padding: 25px 50px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
}
footer a {
    color: #E4AAFF;
    text-decoration: none;
}
footer a:hover {
    color: #103F6E;
    background-color: #A9DEF9;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover {
    text-decoration: underline; 
}
footer .social img {
    padding-top: 15px;
    width: 50px;
}
